/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFDEA url(../images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464032;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #333333;
}
h1 {font-size: 2em;}
h2 {font-size: 2.4em;}
h3 {font-size: 1.6em;}
p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}
a {
	text-decoration: none;
	color: #9D151A;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* Header */
#header {
	width: 940px;
	height: 148px;
	margin: 0 auto;
}

/* Logo */
#logo {
	float: left;
	height: 90px;
	margin: 0;
	background: url(../images/img04.jpg) no-repeat left top;
	padding-top: 30px;
	color: #000000;
}
#logo h1, #logo p {
	margin: 0;
	padding: 0;
}
#logo h1 {
	float: left;
	padding-left: 120px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}
#logo p {
	float: left;
	margin: 0;
	padding: 26px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #5E4E38;
} 
#logo p a {
	color: #5E4E38;
}
#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #A83A01;
}

/* Menu */
#menu {
	width: 940px;
	height: 36px;
	margin: 0 auto;
	padding: 0;
}
#menu ul {
	margin: 0px 0px 0px 10px;
	padding: 0;
	list-style: none;
	line-height: normal;
}
#menu li {
	float: left;
}
#menu a {
	display: block;
	height: 26px;
	margin-right: 2px;
	padding: 10px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}
#menu a:hover, #menu .current_page_item a {
	background: #FFFFFF;
	text-decoration: none;
	color: #333333;
}
#menu .current_page_item a {
	background: #FFFFFF;
	color: #333333;
}

/* Sub Menu */
#sub_menu {
    width: 940px;
    height: 36px;
    margin: 0 auto;
    padding: 0;
    background: #9D1519;
}
#sub_menu ul {
    margin: 0px 0px 0px 10px;
    padding: 0;
    list-style: none;
    line-height: normal;
}
#sub_menu li {
    float: left;
}
#sub_menu a {
    display: block;
    height: 26px;
    margin-right: 2px;
    padding: 10px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}
#sub_menu a:hover, #sub_menu .current_page_item a {
    background: #FFFFFF;
    text-decoration: none;
    color: #333333;
}
#sub_menu .current_page_item a {
    background: #FFFFFF;
    color: #333333;
}

/* Page */
#page {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}
#page-bgtop {
	padding: 20px px;
}

/* Content */
#content {
	width: 920px;
	padding: 30px 10px;
	background: #FFF;
}
.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}
#loading{
	background: url(../images/loading.gif) no-repeat; 
	font: normal small Arial, Helvetica, sans-serif;	
	padding: 0px 20px 0px 20px;		
	font-weight: bold;
	color: #000000;
}

/*Tabelas*/
#content table {
    border: 0 none;
    margin: 0 0 30px;
    width: 100%;
    border-spacing: 0;
}
#content table tr td, #content table tr td {
    border-right: 0 none;
    padding: 10px 15px;
}
#content table thead tr th, #content table thead tr td {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 2px solid #CCCCCC;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 8px 15px;
    text-align: left;
}
#content table tbody tr td {
    border-bottom: 1px solid #CCCCCC;
}
#content table tbody strong {
    display: block;
    padding: 12px 0 0;
}
#content table tr td.corsin {
    background: none repeat scroll 0 0 #F4F4F4;
    font-weight: bold;
    font-size: 15px;
}

/* Footer */
#footer {
	width: 940px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	border-top: 4px solid #EBE6D1;
	font-family: Arial, Helvetica, sans-serif;
}
#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #444444;
}
#footer a {color: #464032;}


/* Destinado a formularios e lightbox */
#window_lightbox { overflow-x: hidden; }
#formulario form { font-size: 10pt; }
#formulario fieldset {
	padding: 20px;
	margin: 25px 0;
	border: 1px solid #ccc;
	width: 730px;
	height: auto;
}
#formulario legend {
	font-weight: bold;
	color: #000000;
	font-size: 11pt;
	letter-spacing: 1px;
	text-align: center;
}

/* HACK PARA CORRIGIR O MARGIN-BOTTOM*/
html>body #formulario legend {
	margin-bottom: 0px;
}
#formulario label {
    display: block;
    width: auto;
    color: #000;
}
#formulario input, #formulario select {
	margin: 0 0 10px 0;
	display: block;
	width: 250px;
	height: 20px;
	border: 1px solid #CCC;
	color: #333;
}
#formulario span{
	color: #999;
	font-size: 12px;
}
#formulario .form_button{ margin: 30px 0 0 0; }
#formulario .form_button input {
	margin: 0 10px 0 0;
	padding: 5px;
	float: left;
    width: 120px;
    height: auto;
}

/* Mensagens de erro e sucesso */
#msg_envio_form{
	cursor: pointer;
    margin: 0 25px 25px 17px;
}
#msg_envio_form p {
    margin: 0;
    padding: 3px 10px;
    display: block;
    font-size: 12px;
    text-align: left;
}
#msg_envio_form #error_message {
    border: 1px solid #CC0000;
    color: #333333; 
    background-color: #FFECE6;
}
#msg_envio_form #error_message p {
    background-color: #FFECE6;
}
#msg_envio_form #success_message {
    border: 1px solid #98CB32;
    color: #333333;
    background-color: #FBFCF8;
}
#msg_envio_form #success_message p {
    background-color: #FBFCF8;
}

/* multiselect styles */
	.multiselect {
		width: 460px;
		height: 200px;
	}
	
	#switcher {
		margin-top: 20px;
	}


/* Multiselect
----------------------------------*/

.ui-multiselect { border: solid 1px; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }
 
.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }

/*
Inicio da criacao de imagem com css
*/

div.tres {
 width:400px;
 height:30px;
 border: 1px solid; /* As 4 bordas sólidas com 25px de espessura */
 border-color: #000; /* cores: topo, direita, inferior, esquerda */
}
.ponto {
 width:10px;
 height:10px;
 border:10px;
 border-color: #f00;
}
#corpo {
	padding: 0;
	margin: 0;
	width: 730px;
	overflow: hidden;
}
#corpo p {
	margin: 0;
	width: auto;
}
#corpo p a {
    text-decoration: underline;
}
#corpo p a:hover {
    text-decoration: underline;
    font-weight: bold;
}
#corpo #vazio {
    margin: 0;
    padding: 0;
    float: none;
    border: 2px 4px;
    border-color: #777;
    border-style: solid;
    width: 290px;
    height: 40px;
}
#corpo ul {
	margin: 0 10px 0 0;
	padding: 10px 10px 0 15px;
	float: left;
	border: 2px 4px;
    border-color: #777;
    border-style: solid;
    overflow: hidden;
    width: 265px;
}
#corpo ul li {
	float: left;
	height: 12px;
	margin: 0 10px 10px 0;
	overflow: hidden;
	width: 12px;
}
#corpo ul li a.verde {
	background: green;
	display: block;
	height: 20px;
	width: 20px;
}
#corpo ul li a.vermelho {
	background: red;
	display: block;
	height: 20px;
	width: 20px;
}
#corpo ul li a.preto {
	background: black;
	display: block;
	height: 20px;
	width: 20px;
}


/* outros controles de estilo */
#controlToggle li {
    list-style: none;
}
p {
    width: 512px;
}
#utm_mouse {
    top: 15px;
}
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

/* avoid pink tiles */
.olImageLoadError {
    background-color: transparent !important;
}
div.olControlPanel {
    top: 0px;
    left: 50px;
    position: absolute;
}
div.editPanel {
    top: 100px;
    left: 50px;
    position: absolute;
}
.editPanel div {
  background-image: url("../theme/default/img/edit_sprite.png");
  background-repeat: no-repeat;
  width:  22px;
  height: 22px;
  border: thin solid black;
  margin-top: 10px;
}
.olControlPanel div { 
  display:block;
  width:  24px;
  height: 24px;
  margin: 5px 0px 0px 5px   ;
  float: left;
  background-color: white;
}
.olControlPanel .olControlMouseDefaultsItemActive { 
  background-color: blue;
  background-image: url("../theme/default/img/pan_on.png");
}
.olControlPanel .olControlMouseDefaultsItemInactive { 
  background-color: orange;
  background-image: url("../theme/default/img/pan_off.png");
}
.olControlPanel .olControlDrawFeatureItemActive { 
  width:  22px;  
  height: 22px;
  background-image: url("../theme/default/img/draw_line_on.png");
}
.olControlPanel .olControlDrawFeatureItemInactive { 
  width:  22px;  
  height: 22px;
  background-image: url("../theme/default/img/draw_line_off.png");
}

.olControlPanel .olControlDeleteFeatureItemActive { 
  width:  22px;  
  height: 22px;
  background-image: url("../theme/default/img/remove_point_on.png");
}
.olControlPanel .olControlDeleteFeatureItemInactive { 
  width:  22px;  
  height: 22px;
  background-image: url("../theme/default/img/remove_point_off.png");
}
.olControlPanel .olControlZoomBoxItemInactive { 
  width:  22px;  
  height: 22px;
  background-color: orange;
  background-image: url("../theme/default/img/drag-rectangle-off.png");
}
.olControlPanel .olControlZoomBoxItemActive { 
  width:  22px;  
  height: 22px;
  background-color: blue;
  background-image: url("../theme/default/img/drag-rectangle-on.png");
}
.olControlPanel .olControlZoomToMaxExtentItemInactive { 
  width:  18px;  
  height: 18px;
  background-image: url("../theme/default/img/zoom-world-mini.png");
}